<ul class="list-group list-group-horizontal-md ">
  <li class="list-group-item ">
    <a [routerLink]="['/']" >Home</a>
  </li>
  <li class="list-group-item list-group-item-action">
    <a [routerLink]="['/create-kitten']">Create Kitten</a>
  </li>
  <li class="list-group-item list-group-item-action">
    <a [routerLink]="['/list-kitten']">List Kitten</a>
  </li>
  <li class="list-group-item list-group-item-action">
    <a [routerLink]="['/user-kitten']">User Kitten</a>
  </li>
</ul>

<router-outlet></router-outlet>